body {
  padding-bottom: 30px;
  font-family: "Microsoft JhengHei", "Heiti TC", "Droid Sans", PMingLiU, Meiryo;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#wc-stageselected, #wc-stagelist>li>a {
	line-height: 2.2em;
	font-size: 1.2em;
}

#wc-searchresult li {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 2px;
	color: #666;
}
